.card {
    background-color: rgb(255, 255, 255);
    border-radius: 16PX;
    border: 1px solid lightgray;
    width: 500px;
    height: fit-content;
    display:flex;
    margin-bottom: 24px;

}

.card:hover {
    background-color: #f8f8f8;
    border-radius: 16PX;
    stroke: lightgray;
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
        
    
}

.card-body {
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
    width: 100%;
}

.card-title {
    margin-bottom: 8px;
}
